body {
  /* diameter of the circle */
  --d: 1px; 

  background: radial-gradient(
      circle at var(--d) var(--d),
      #000 calc(var(--d) - 1px),
      #0000 var(--d)
    )
    0 0 / 20px 20px;
}


.hero{
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Mono', sans-serif;
  color: black;
  max-width: 70vh;
}

.highlightWaterloo {
  background-color: rgb(189, 209, 255);
  padding: 2px 3px;
  border-radius: 20px;
}

.shopify{
  background-color: rgb(255, 222, 202);
  padding: 2px 3px;
  border-radius: 20px;
  
}

.ibm{
  background-color: rgb(188, 230, 186);
  padding: 2px 3px;
  border-radius: 20px;
}



.bold{
  font-weight: bold;
}

.underline{
  text-decoration: underline;
  text-decoration-thickness: 3px;
}


.content img{
  max-width:100%;
}

.content h1{
  font-weight: 400;
  font-size: 25px;
}