body {
  /* diameter of the circle */
  --d: 1px; 

  background: radial-gradient(
      circle at var(--d) var(--d),
      #000 calc(var(--d) - 1px),
      #0000 var(--d)
    )
    0 0 / 20px 20px;
}


.hero{
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Mono', sans-serif;
  color: black;
  max-width: 70vh;
  
}

.highlightWaterloo {
  background-color: rgb(209, 231, 255);
  padding: 2px 3px;
}

.shopify{
  background-color: rgb(255, 249, 181);
  padding: 2px 3px;
  
}

.ibm{
  background-color: rgb(187, 232, 197);
  padding: 2px 3px;
}



.bold{
  font-weight: bold;
  color: rgb(36, 58, 146);
}

.underline{
  text-decoration: underline;
  text-decoration-thickness: 3px;
}


.content img{
  max-width:100%;
}

.content h1{
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
}